{% extends 'menu.html' %}

{% comment %} 버전 2222222222222 {% endcomment %}


{% block style %}
    .image {
        width: 258px;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        gap : 20px;
        margin: 50px 100px auto 100px;
    }
    .name {
        text-align: center;
    }
{% endblock %}


{% block content %}

    {% if images %}
    <div class="menu">
    {% for image in images %}

        <div class="drink-box">
            <p><img class="image" src="{{image.url}}"></p>
            <p class="name">{{image.drink.name}}</p>
            {% comment %} <p>{{image.drink.nutrition}}</p>
            <p>{{image.drink.allergy}}</p> {% endcomment %}
        </div>

    {% endfor %}
    </div>
    {% endif %}

{% endblock %}